body {
    min-height: 100vh;
    background: linear-gradient(90rad, lightblue, #7AC8DF);
    text-align: center;
}

.titulo {
    text-align: center;
    font-size: 70px;
    color: azure;
}

.opcoes {
    padding: 10px;
    font-size: 50px;
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: azure;
    width: fit-content;
    border: 0.5px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin-bottom: 10px;
}

.container {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 10px;
}

.abas {
    flex: 0 1 calc(50% - 10px);
    border-radius: 20px;
    border: 1px solid;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background-color: azure;
    padding: 20px;
    box-sizing: border-box;
    max-height: 300px;
    overflow-y: auto;
    word-wrap: break-word;
    scrollbar-width: none;
    -ms-overflow-style: none;
    transition: 0.3s ease;
}

.abas:hover {
    transform: scale(1.01);
}

.abas::-webkit-scrollbar {
    display: none;
}

.link {
    font-size: 50px;
    color: #7AC8DF;
}

a {
    color: #61bbd6;
    text-decoration: none;
}

.topo {
    display: flex;
    gap: 5px;
}

button {
    font-size: 15px;
    border-radius: 60px;
    border: none;
    width: fit-content;
}

.pagina {
    text-align: center;
    padding: 15px;
    background-color: aliceblue;
    width: fit-content;
    justify-content: center;
    margin: auto;
    border: 1px solid lightblue;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.painelp {
    font-size: 30px;
}

.direcionar {
    font-size: 25px;
}

p {
    font-size: large;
}