<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Desabafo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/novo_desabafo.css') }}">
</head>
<body>

<h1 class="titulo">EDITAR DESABAFO</h1>
<div class="form">
    <form action="{{ url_for('desabafos.atualizar_desabafo', id=desabafo[0]) }}" method="post">
    <textarea name="texto" rows="16" cols="100">{{ desabafo[1] }}</textarea><br><br>
    <button class="btn" type="submit">Salvar</button>
</form>

<a href="{{ url_for('desabafos.desabafos') }}" style="font-size: 40px;">Voltar</a>
</div>


</body>
</html>